# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Hidden Linux files
.*
!/.gitignore

# Visual Studio build files
client/bin
client/obj

# Typescript and Js temp files
client/ts/*.js
client/ts/*.js.map