# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.os

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Hidden Linux files
.*
!/.gitignore

# Visual Studio build files
client/bin
server/chance.py
client/obj

# Typescript and Js temp files
client/src/**/*.js
client/src/**/*.js.map

# Thumbs
client/Thumbs.db

# Typescript build files
client/js/*.js*
client/test/js/*

# Python precompiled modules
**/__pycache__/**

# Python compiled bytecode
*.pyc
*.pyc

*packages*
