.current-player-box,
.other-players-box {
    display: table;
}

.current-player-row,
.player-row {
    display: table-row;
}

.current-player-name,
.current-player-color,
.current-player-money,
.player-name,
.player-color,
.player-money {
    display: table-cell;
}

.buttons {
    margin-top: 20px;
}

.all-players {
    padding-top: 30px;
    padding-bottom: 20px;
}

.current-player-box {
}

.other-players-box {
    padding-top: 10px;
}

.current-player-name {
    font-size: xx-large;
    padding-left: 250px;
}

.current-player-color {
    float:left;
    width: 30px;
    height: 30px;
    margin-left: 55px;
    border: 1px solid;
    background-color: red;
}

.current-player-money {
    font-size: x-large;
}

.player-name,
.player-money {
    font-size: medium;
}

.player-color {
    float:left;
    width: 20px;
    height: 20px;
    border: 1px solid;
    background-color: red;
    margin-left: 5 0px;
}

.operation-box {
    padding-bottom: 20px;
}

.tabs-content {
    border-bottom: 1px solid lightgray;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-radius: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
    height: 200px;
}

.history-box {
    border-width: 1px;
    border-style: solid; 
    border-color: lightgray;
    border-radius: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
    height: 150px;
}