.main-container
{
    background-color: aliceblue;
}

.left-column
{
    background-color: white;
}

.player-row {
    display: table-row;
    height: 30px;
    background-color: white;
}

.player-name,
.player-color,
.player-money {
    display: table-cell;
    padding: 4px 4px 4px 4px;
    text-align: center;
}

.buttons {
    margin-top: 20px;
}

.all-players {
    padding-top: 30px;
    padding-bottom: 20px;
}

.players-box {
    display: table;
    width: 100%;
    margin-top: 10px;
    border: 1px solid black;
}

.dices-box {
    margin-top: 10px;
}

.player-name,
.player-money {
    font-size: medium;
}

.player-color {
    float: left;
    width: 20px;
    height: 20px;
    border: 1px solid;
    background-color: red;
    margin-left: 5 0px;
}

.operation-box {
    padding-bottom: 20px;
}

.tabs-content {
    border-bottom: 1px solid lightgray;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-radius: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
    height: 200px;
}

.history-box {
    border-width: 1px;
    border-style: solid; 
    border-color: lightgray;
    border-radius: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
    height: 150px;
}

textarea {
    overflow-y: scroll;
    height: 150px;
    width: 644px;
    resize: none;
}
